<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %> 
    </head>

    <body>
        <header>
            <%- include('../partials/header') %> 
        </header>

        <h1>Finance</h1>
        <ul>
            <li>Citizen's Advice Scotland</li>
            <li>ABZWorks</li>
            <li>Scottish Welfare Fund</li>
            <li></li>
        </ul>
    </body>
</html>